---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="admin">
  <div>
    <h2>Admin panel</h2>
    <nav>
      <ul>
        <li><a href="atlas/krambambouli">Krambambouli</a></li>
        <li><a href="atlas/users">Gebruikers</a></li>
        <li><a href="atlas/boards">Bestuursjaren</a></li>
      </ul>
    </nav>
  </div>
</Layout>
