form {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-self: center;
    gap: 1rem;
}

form> :first-child {
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
}

.input-container {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
}

.button-container> :first-child {
    width: 100%;
    font-size: 1rem;
}
