:root {
  --main: rgb(100, 53, 152); /* purple */
  --secondary: rgb(255, 239, 62); /* yellow */
  --tertiary: rgb(54, 149, 34); /* green */
}

.navContainer {
  margin-top: 1rem;
}

.navList {
  list-style: none;
  display: flex;
  gap: 0.5rem;
}

.navList a {
  text-decoration: none;
  font-size: 1rem;
  padding: 0.4rem 0.7rem;
  border-radius: 0.4rem;
}

.navList a:hover {
  background-color: lightgrey;
}
