:root {
  --main: rgb(100, 53, 152); /* purple */
  --secondary: rgb(255, 239, 62); /* yellow */
  --tertiary: rgb(54, 149, 34); /* green */
  --hamburger-height: 2rem;
}

.navContainer {
  margin-top: 1rem;
}

.navList,
li ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-around;
  align-items: center;
}

.navList {
  list-style: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  transition:
    transform 0.3s ease,
    opacity 0.3s ease;
  transform: translateY(-100%);
  pointer-events: none;
  opacity: 0;
  background: white;
  padding-bottom: 100dvh;
}

.navList li a {
  text-decoration: none;
  border-radius: 0.4rem;
  font-size: 1.5rem;
  padding: 0.75rem 1.5rem;
}

.navLink:hover {
  background: rgba(0, 0, 0, 0.05);
}

.navToggle {
  display: none;
}

.navToggleLabel {
  display: flex;
  width: var(--hamburger-height);
  cursor: pointer;
}

.navToggleLabel svg {
  width: 100%;
  height: auto;
  overflow: visible;
  z-index: 1000;
}

.navToggleLabel svg path {
  transition:
    transform 0.3s ease,
    opacity 0.3s ease;
  transform-origin: center;
}

.navToggle:checked ~ .navToggleLabel svg .line1 {
  transform: rotate(45deg) translateY(8px);
}

.navToggle:checked ~ .navToggleLabel svg .line2 {
  transform: translateX(200%);
  opacity: 0;
}

.navToggle:checked ~ .navToggleLabel svg .line3 {
  transform: rotate(-45deg) translateY(-8px);
}

.navToggle:checked svg {
  overflow: hidden;
}

.navToggle:checked ~ .navList {
  transform: translateY(0px);
  opacity: 1;
  pointer-events: auto;
}

.dropdownToggleLabel,
.dropdownToggle {
  display: none;
}

li ul {
  list-style: none;
}

@media (min-width: 768px) {
  :root {
    --hamburger-height: 3rem;
  }
}

@media (min-width: 1024px) {
  .navToggleLabel {
    display: none;
  }

  .navList {
    position: inherit;
    opacity: 1;
    transform: translateY(0px);
    flex-direction: row;
    pointer-events: auto;
    font-size: 1rem;
    flex-wrap: wrap;
    gap: 0.5rem;
    padding-bottom: unset;
  }

  .navList li a {
    padding: 0.4rem 0.7rem;
    border-radius: 0.4rem;
    font-size: 1rem;
  }

  .dropdownToggleLabel {
    display: flex;
    position: relative;
  }

  .dropdownToggleLabel ~ ul {
    display: none;
    position: absolute;
    top: 100%;
    gap: 0.2rem;
  }

  .dropdownToggleLabel:hover ~ ul,
  .dropdownToggle:checked ~ ul,
  .dropdownToggleLabel ~ ul:hover {
    display: block;
    border: lightgray 1px solid;
    z-index: 999;
    background-color: white;
  }

  .dropdownToggleLabel ~ ul li {
    display: grid;
  }

  .dropdownToggle ~ ul li .navLink:hover {
    border-radius: 0;
  }
}

@media (min-width: 1440px) {
  .dropdownToggleLabel {
    display: none;
  }

  .dropdownToggleLabel ~ ul {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
  }

  .dropdownToggleLabel ~ ul li .navLink:hover {
    white-space: nowrap;
    border-radius: 0.4rem;
  }

  .dropdownToggleLabel ~ ul:hover {
    border: unset;
    box-shadow: unset;
    background-color: unset;
    z-index: unset;
  }

  .dropdownToggleLabel ~ ul li:hover {
    background-color: unset;
  }
}
