.contentContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  flex: 1;
  margin-top: 1rem;
}

.title {
  text-align: center;
}

.content {
  margin: 0 10%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.challengeInformation {
  text-align: center;
  display: grid;
  gap: 0.7rem;
}

.challengeContainer {
  display: grid;
  justify-items: center;
  gap: 1rem;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  gap: 10%;
}

.scoreButtonsContainer {
  display: flex;
  justify-content: center;
  gap: 5%;
}
