.test {
  width: 100%;
  padding: 1rem 2rem;
  background: linear-gradient(
    135deg,
    rgb(54, 149, 34, 0.6) 0%,
    rgb(54, 149, 34, 0.6) 30%,
    rgb(100, 53, 152, 0.6) 30%,
    rgb(100, 53, 152, 0.6) 70%,
    rgb(175, 36, 36, 0.6) 70%,
    rgb(175, 36, 36, 0.6) 100%
  );
  display: flex;
  align-items: center;
}

.monogramContainer {
  width: 10rem;
}
