---
import ResetPasswordForm from "./ResetPasswordForm";
import styles from "./ResetPasswordPage.module.css";
interface Props {
  token?: string;
}

const { token } = Astro.props;
---

<main class={styles.main}>
  <ResetPasswordForm token={token} client:load />
</main>
