.nav-container {
    display: flex;
    justify-content: center;
    --burger-width: 2rem;
    --burger-height: 1.75rem;
}


.hamburger-icon {
    cursor: pointer;
    width: var(--burger-width);
    height: var(--burger-height);
    position: sticky;
    --bar-height: 4px;
    --bar-color: #585858;
    z-index: 1;
}

.top-bun,
.bottom-bun,
.patty {
    height: var(--bar-height);
    border: 1px solid var(--bar-color);
    border-radius: 5px;
    background-color: var(--bar-color);
    width: var(--burger-width);
    transition: all 0.5s;
    position: absolute;
}

.top-bun {
    top: 0;
}

.patty {
    top: 50%;
    transform: translateY(-50%);
}

.bottom-bun {
    bottom: 0;
}

.hamburger-icon:hover>* {
    background-color: purple;
    border-color: purple;
}

.active .top-bun {
    transform: translateY(calc(var(--burger-height) / 2 - var(--bar-height) / 2)) translateX(-15rem) rotate(45deg);
    z-index: 1;
}


.active .bottom-bun {
    transform: translateY(calc(var(--burger-height) / -2 + var(--bar-height)/ 2)) translateX(-15rem) rotate(-45deg);
    z-index: 1;
}

.active .patty {
    transform: translateX(10rem);
    opacity: 0;
    z-index: -1;
}

.nav-item>* {
    display: grid;
    grid-template-rows: auto 2px;
    color: white;
    text-decoration: none;
}

.horizontal-line {
    display: block;
    background-color: purple;
    height: 2px;
    width: 100%;
}

.nav-item> :first-child {
    padding: 1rem 1rem 1rem 0rem;
}

.nav-item>*:hover {
    transition: ease all 0.3s;
    color: purple;
}

#nav-menu-container {
    position: fixed;
    overflow-y: scroll;
    top: 0;
    height: 100%;
    left: 0;
    right: 0;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: flex-end;
}

#nav-menu-container> :first-child {
    display: none;
    position: fixed;
    min-height: 100vh;
    background: rgba(225, 225, 255, 0.6);
}

#nav-menu-container.active> :first-child {
    display: block;
    scroll-behavior: none;
}


.nav-menu {
    position: absolute;

    list-style: none;
    background-color: rgb(88, 88, 88);
    transition: all ease 0.5s;
    overflow-x: hidden;
    display: flex;
    padding: 2rem;
    flex-direction: column;
    gap: 1rem;
    right: -20rem;
    z-index: 1000;
}

.nav-menu.active {
    transform: translateX(-20rem);
}

.nav-menu> :first-child {
    color: white;
}
