---
import "./navigation.css";
---

<nav class="nav-container">
    <div class="hamburger-icon" id="hamburger-icon">
        <div class="top-bun" id="top-bun"></div>
        <div class="patty" id="patty"></div>
        <div class="bottom-bun" id="bottom-bun"></div>
    </div>
    <div id="nav-menu-container">
        <div class="menu-wrapper"></div>
        <ul class="nav-menu" id="nav-menu">
            <h3>MENU</h3>
            <li class="nav-item">
                <a href="/home">Home</a>
                <div class="horizontal-line"></div>
            </li>
            <li class="nav-item">
                <a href="/lustrumgalabal">Lustrumgalabal</a><div
                    class="horizontal-line"
                >
                </div>
            </li>
            <li class="nav-item">
                <a href="bestuur">Bestuur & oud bestuur</a><div
                    class="horizontal-line"
                >
                </div>
            </li>
            <li class="nav-item">
                <a href="clublied">Clublied</a><div class="horizontal-line">
                </div>
            </li>
            <li class="nav-item">
                <a href="geschiedenis">Geschiedenis</a><div
                    class="horizontal-line"
                >
                </div>
            </li>
            <li class="nav-item">
                <a href="krambambouli">Krambambouli</a><div
                    class="horizontal-line"
                >
                </div>
            </li>
            <li class="nav-item">
                <a href="codex">Codex Challenge</a><div class="horizontal-line">
                </div>
            </li>
            <li class="nav-item">
                <a href="youtube">Youtube</a><div class="horizontal-line"></div>
            </li>
            <li class="nav-item">
                <a href="inschrijven">Inschrijven mailingslijst</a><div
                    class="horizontal-line"
                >
                </div>
            </li>
            <li class="nav-item">
                <a href="lidworden">Lid worden</a><div class="horizontal-line">
                </div>
            </li>
            <li class="nav-item">
                <a href="contact">Contact</a><div class="horizontal-line"></div>
            </li>
            <li class="nav-item">
                <a href="inloggen">Inloggen</a><div class="horizontal-line">
                </div>
            </li>
        </ul>
    </div>
</nav>

<script>
    const hamburgerIcon = document.getElementById("hamburger-icon");
    const navMenu = document.getElementById("nav-menu");
    const navMenuContainer = document.getElementById("nav-menu-container");
    const allElements = [
        document.querySelector("main"),
        document.querySelector("footer"),
        document.querySelector("header")?.firstElementChild,
    ];
    function toggleNavBar() {
        hamburgerIcon?.classList.toggle("active");
        navMenuContainer?.classList.toggle("nav-menu-container");
        navMenu?.classList.toggle("visible");
        allElements.forEach((element) => {
            element?.classList.toggle("reduced-opacity");
        });
    }
    hamburgerIcon?.addEventListener("click", function () {
        toggleNavBar();
    });

    navMenuContainer?.addEventListener("click", function () {
        toggleNavBar();
    });
</script>
