---
import "./navigation.css";
---

<nav>
    <div class="hamburger-icon">
        <div class="top-bun"></div>
        <div class="patty"></div>
        <div class="bottom-bun"></div>
    </div>
    <ul class="nav-menu">
        <li class="nav-item">
            <a href="/home">Home</a>
        </li>
        <li class="nav-item"><a href="/lustrumgalabal">Lustrumgalabal</a></li>
        <li class="nav-item"><a href="bestuur">Bestuur & oud bestuur</a></li>
        <li class="nav-item"><a href="clublied">Clublied</a></li>
        <li class="nav-item"><a href="geschiedenis">Geschiedenis</a></li>
        <li class="nav-item"><a href="krambambouli">Krambambouli</a></li>
        <li class="nav-item"><a href="codex">Codex Challenge</a></li>
        <li class="nav-item"><a href="youtube">Youtube</a></li>
        <li class="nav-item">
            <a href="inschrijven">Inschrijven mailingslijst</a>
        </li>
        <li class="nav-item"><a href="lidworden">Lid worden</a></li>
        <li class="nav-item"><a href="contact">contact</a></li>
        <li class="nav-item"><a href="inloggen">inloggen</a></li>
    </ul>
</nav>
