.board-role {
  text-align: center;
}
.board-member {
  position: relative;
}

.board-member-picture {
  width: 100%;
  aspect-ratio: 1 /1;
  object-fit: cover;
  border-radius: 0.5rem;
  text-align: center;
  max-width: 100px;
}

img.board-member-picture {
  border: solid purple 2px;
}

@media (min-width: 375px) {
  .board-member picture,
  .board-member img {
    max-width: 125px;
  }
}

@media (min-width: 768px) {
  .board-member picture,
  .board-member img {
    max-width: 250px;
  }
}

@media (min-width: 1024px) {
  .board-member picture,
  .board-member img {
    max-width: 300px;
  }
}

.board-member {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}
.board-member-picture-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.board-member-overlay {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.board-member-overlay > img {
  max-width: 1.5rem;
}
