---
import LayoutAstroComponent from "@/layouts/Layout.astro";
---

<LayoutAstroComponent title="Forbidden">
  <main>
    <div>
      Forbidden
      <button onclick="history.back()">Go back</button>
    </div>
  </main>
</LayoutAstroComponent>
