---
import Layout from "../layouts/Layout.astro";

const title = "Geschiedenis";
---

<Layout title={title}>
    <main>
        <picture>
            <img src="pinnen.png" alt="" />
        </picture>
        <div class="history-container">
            <p>
                't Vat is een regionale Brusselse studentenclub, een regionale
                kring, dus niet gebonden aan een bepaalde universiteit,
                hogeschool of faculteit. Bijgevolg is iedereen bij ons welkom,
                zowel hogeschool- en universiteitsstudenten, anciens en
                fossielen. <br /> De clubkleuren van 't Vat zijn rood-purper-groen.
                Het rood en groen zijn voor Brussel. <br /> Waar het purper vandaan
                komt, god (of tenminste de acteur die zijn rol speelt) mag het weten.
                <br />
                't Vat werd in 1968 gesticht door Renaat Saggaert (de Sagge), met
                behulp van Fernand Crauwels (de Ferre).
            </p>
            <p>
                Terwijl de studentikoziteit aan de meeste hogescholen
                afbrokkelde als gevolg van de perikelen van mei '68, slaagde 't
                Vat er toch in een heuse reputatie op te bouwen. Als een van de
                onbetwiste hoogtejaren was er het academiejaar '73-'74 onder
                leiding van senior Alain Leemans.
            </p>
            <p>
                Het volgende jaar speelde 't Vat dan weer een belangrijke rol in
                het Seniorenkonvent. <br />
                Vanaf september '75 ontstonden er problemen: de meeste presidiumleden
                waren afgestudeerd en 't Vat kreeg te kampen met opvolgingsproblemen.
                <br />
                Op een donkere woensdag in december '75 werd 't Vat na een afscheids-TD
                ontbonden.
            </p>
            <p>
                In oktober-november '76 echter besloten Ludo Van Roeyen en Yvan
                Deryck 't Vat nieuw leven in te blazen. De eerste TD, op 1
                december '76 werd een succes. <br />
                Yvan Deryck slaagde er als eerste senior in '79 in een Galabal te
                organiseren ter ere van het 2de lustrum.
            </p>
            <p>
                Het was ook in die periode dat 't Vat het initiatief heeft
                genomen om het Brusselse Senioren Konvent (BSK) op te richten, <br
                />
                dat sindsdien de studentenclubs van de Brusselse vrije Hogescholen
                (sinds een paar jaar de 'Erasmus Hogeschool') en de Koninklijke Militaire
                School groepeert. <br />
                Door de jaren heen bouwde 't Vat een zeer divers publiek op, wat
                zich duidelijk in het proseniorenbestand laat merken. <br />
            </p>
            <p>
                Omtrent '85 kwam 't Vat echter weer in een donkere periode met
                weinig activiteiten, maar door toedoen van Fred (prosenior
                '86-'87), <br />
                de Jippe (prosenior '87-'88-'89) en de Renti (prosenior '89-'90),
                kwam 't Vat weer op dreef.
            </p>
            <p>
                In 1986 werd ook het Oud-Vat opgericht, op maat gemaakt voor de
                iets meer belegen Vatter. Tot in 1994 organiseerden zij geregeld
                hun activiteiten. <br />
                Het derde decennium was een opvolging van hoogtepunten, waarin 't
                Vat een club met naam en faam werd in Brussel. <br />
                De studentenfoklore aan de hogescholen was vollen bak, de schachten
                waren plenty en de Gallische cantussen een fenomeen. <br />
                Vanaf het jaar van Alex (prosenior '92-'93) werd er ook gedoopt,
                waarbij gemotiveerde eerste kanners de kans kregen zich bij de 't
                Vat te scharen.
            </p>
            <p>
                Naar het einde van het tweede millennium toe begon de
                succesformule wat te tanen. <br />
                Minder studenten in de clubs van 't BSK betekende ook minder studenten
                bij 't Vat, <br />
                en voor een club die niet aan een school verbonden is en zo zijn
                jaarlijkse dosis jong volk binnenkrijgt, is dat fataal.
            </p>
            <p>
                Het dertigjarig bestaan van 't Vat werd in het jaar van Orye
                (prosenior '98-'99) nog groots gevierd. <br />
                Vatjan (prosenior '93-'94) bracht zowaar een St V medaille uit ter
                ere van deze heuglijke gebeurtenis, <br />
                die sindsdien menig klak siert. Hetzelfde jaar ging 't Vat terug
                op zoek naar zijn regionale roots, <br />
                en zocht horizonsverwijderingsgewijs toenadering tot de Regionale
                Kringen van de VUB, waar het sindsdien een actief lid van is, <br
                />
                en zo haar gediversifieerde geschiedenis eer aan doet.
            </p>
            <p>
                Gedurendedat jaar werd de Vatkassa echter diep in het rood
                gestuurd na een oplichtingsschandaal ( lach niet 't is serieus). <br
                />
                Enkel de milde renteloze leningen van enkele anciens konden ons helpen
                het hoofd financieel boven water te houden. <br />
                Het jaar erna was het vat echter af. Na het galabal in december werd
                het wel heel kalm rond 't Vat. Er werd geen overdracht georganiseerd;
                <br />
                de club zou een stille dood sterven.
            </p>
            <p>
                Een prosenioren vergadering na de barbecue van Polytechnic
                diezelfde zomer leverde op dat de twee laatste senioren, <br />
                Erwin Orye en Leslie Brunswyck (prosenior '99-'00) samen met Sofie
                van Iverto het Vat zouden levend proberen te houden. <br />
                In het begin van dat jaar stapte Leslie echter uit de boot, en werd
                vervangen door Bram van Popo. <br />
                In dat jaar zonder praeses en zonder linten werd gestart met een
                nieuw initiatief.
            </p>
            <p>
                Op de Cantusklassen werd getracht vergeten codexliedjes (uit de
                in 1999 uitgebrachte BSK-codex) opnieuw aan de corona aan te
                leren. <br />
                Het jaar daarop was er een heus presidium, weliswaar anarchistisch,
                dus zonder praeses en zonder specifieke functies. <br />
                De activiteiten kwamen weer goed op gang, met onder andere twee geslaagde
                cantussen in 't BSG en een quiz met zo'n 130 deelnemers.
            </p>
            <p>
                Het jaar werd afgesloten met een echte overdracht van de
                prosenioren naar Bram en deze kon rekenen op een volledig nieuw
                presidium, 11 man/vrouw sterk. <br />
                Na de 'heropstanding' werd begonnen met de rest van de studentenwereld
                diets te maken dat 'T VAT weer springlevend was.
            </p>
            <p>
                Een uitdaging was om de student zijn studentenstad beter te
                leren kennen aan de hand van een grote zoektocht dwars door de
                5hoek.
            </p>
            <p>
                ''t Vat leeft' was een slogan waar in het eerste 'nieuwe' jaar
                niet naastgekeken kon worden! Met de overdracht naar Sven alias
                Joske (weerom van Popo) stond onze kring voor een nieuwe
                uitdaging: de aanwezigheid van 'T VAT in het studentenleven
                bevestigen en de naambekendheid uitbreiden, wat met de hulp van
                't Nieuwsblad al geen probleem was. Voor het eerst sinds lang
                bestaat het bestuur deels weer uit echte VATschachten.
            </p>
            <p>
                Op cantussen in alle uithoeken van 't Belgenlandje waren we
                steeds met meerdere personen vertegenwoordigd. <br />
                In het vorige jubileumjaar waarbij 't Vat zijn 40-jarige (2008-2009)
                bestaan kon vieren was er ook de schitterende gelegenheid om een
                galabal te organiseren, <br />
                in samenwerking met het 10 jaar jongere BSK.
            </p>
            <p>
                Tegenwoordig anno 2016 staat 't Vat voor de uitdaging om de
                studentikoziteit en alles wat daar rond hangt een boost te geven
                en daarbij geen schrik hoeft te hebben om daarbij terug naar de
                kern van het studentenleven te keren. <br />
                Het studentenleven is het ontmoeten van nieuwe mensen, elkaar beter
                leren kennen tijdens cantussen, TD's en andere studentikoze activiteiten
                <br />
                en dit met respect voor de tradities die degene die ons voorgegaan
                zijn hebben uitgewerkt. <br />
                Het Vat wil daarbij bijdragen door een sfeer te creëren van samenhorigheid,
                respect voor elkaar, <br />
                een liefde voor het studentenleven maar vooral, een groep vrienden
                die zich amuseren en ten volle genieten van het studentenleven en
                alles wat het te bieden heeft. <br />
            </p>
        </div>
    </main>
</Layout>

<style>
    main {
        display: flex;
        padding-left: var(--standard-padding);
        padding-right: var(--standard-padding);
        flex-direction: column;
        justify-content: center;
    }

    picture {
        display: flex;
        justify-content: center;
    }

    img {
        width: 80%;
    }

    .history-container {
        padding: calc(var(--standard-padding) * 2)
            calc(var(--standard-padding) * 5);
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    .history-container > p {
        font-size: 1rem;
    }
</style>
