---
import Layout from "../layouts/Layout.astro";
import Vatschild from "../svgs/vatschild.astro";
import SaintVeCountdown from "../components/saint-ve-countdown/SaintVeCountdown";

const activitiesList = [
    {
        title: "Kroegentocht",
        date: new Date(2024, 9, 31, 18),
        address: "Centrum Brussel",
    },
    {
        title: "Rouge-et-vert Cantus",
        date: new Date(2024, 10, 13, 20),
        address: "BSG zaal",
    },
    {
        title: "Helium cantus",
        date: new Date(2024, 10, 26, 20),
        address: "BOJ zaal",
    },
    {
        title: "Krambambouli cantus",
        date: new Date(2024, 11, 13, 20),
        address: "BSG zaal",
    },
];

const now = new Date();
const strippedDate = new Date(now.getFullYear(), now.getMonth(), now.getDate());
const filteredActivitiesList = activitiesList.filter(
    (activity) => activity.date.getTime() > strippedDate.getTime(),
);
---

<Layout title="Home">
    <main>
        <div class="shield-container">
            <Vatschild />
        </div>
        <div class="main-content-container">
            <h1>Welkom</h1>
            <p>
                ’t VAT is een “regionale” studentenkring die in de praktijk meer
                lijkt op een soort gilde of orde dan op een gewone
                studentenkring. Het regionale aspect van ’t VAT is in de loop
                der jaren verloren gegaan en de kring heeft zich sinds zijn
                oprichting in maart 1969 omgevormd tot een kring die sterk de
                nadruk legt op de sfeervolle beleving van de studentenfolklore
                en het uitbreiden van eenieders codexkennis.
            </p>
            <p>
                Een van de dingen die ’t VAT het meest onderscheidt van andere
                kringen is de manier van ledenwerving. Men kan namelijk niet
                zelf kiezen om zich bij ’t VAT aan te sluiten; het bestuur van
                ’t VAT kiest zelf elk jaar zo’n tien tot twintig uitverkorenen
                die bij minstens één andere studentenkring aan de VUB, EhB of
                KMS gedoopt zijn en die worden dan individueel uitgenodigd om
                dat jaar Vatschacht te zijn. Die uitnodiging is echter geen
                vrijgeleide om uiteindelijk ook tot de kring toe te treden; de
                Vatschachten moeten zich doorheen het academiejaar bewijzen
                tegenover het bestuur om uiteindelijk tot volwaardig Vatter
                ontgroend te worden. Zij die zich niet bewijzen, worden door de
                schachtentemmers uit de groep Vatschachten gezet en behoren
                vanaf dan niet meer tot ’t VAT.
            </p>
            <p>
                Verder wordt ’t VAT gekenmerkt door zijn prominente aanwezigheid
                op menig cantus. De meeste andere kringen zien ’t VAT graag
                komen naar hun cantus omdat de Vatters vaak het niveau van de
                cantus merkbaar omhoog trekken en omdat veel anderen aan de
                corona nog heel wat kunnen bijleren van hen. Op een cantus van
                ’t VAT zelf worden dan weer verschillende liedjes gezongen die
                bij andere kringen ongekend zijn, wat het ook steeds interessant
                maakt voor niet-Vatters om eens een cantus van ’t VAT mee te
                maken.
            </p>
            <p>
                Zo is er bijvoorbeeld de befaamde Krambamboulicantus waar ‘t VAT
                als enige kring binnen de VUB, EhB en KMS de studentikoze
                godendrank genaamd ‘krambambouli’ brouwt. Krambambouli is een
                donkerrode drank op basis van wijn, rum, suiker en kruiden die
                het best warm geserveerd wordt en die bezongen wordt in het alom
                bekende cantuslied 'Krambambouli'.
            </p>
            <a href="/krambambouli">Kom meer te weten over Krambambouli</a>
        </div>
        <div class="side-content-container">
            <div class="activities-container">
                <h2>ACTIVITEITEN</h2>
                <iframe
                    name="f7cd28a6a6c7e0617"
                    width="500px"
                    height="1000px"
                    data-testid="fb:page Facebook Social Plugin"
                    title="fb:page Facebook Social Plugin"
                    allowtransparency="true"
                    allowfullscreen="true"
                    allow="encrypted-media"
                    src="https://www.facebook.com/v9.0/plugins/page.php?adapt_container_width=true&app_id=2443529859126218&channel=https%3A%2F%2Fstaticxx.facebook.com%2Fx%2Fconnect%2Fxd_arbiter%2F%3Fversion%3D46%23cb%3Df961c524945d19026%26domain%3Dwww.tvat.be%26is_canvas%3Dfalse%26origin%3Dhttps%253A%252F%252Fwww.tvat.be%252Ff8e0f9384169f0c82%26relation%3Dparent.parent&container_width=266&hide_cover=false&href=https%3A%2F%2Fwww.facebook.com%2Ftvatbrussel%2F&locale=en_GB&sdk=joey&show_facepile=false&small_header=true&tabs=events&width=500"
                    style="border: none; visibility: visible; width: 266px; height: 71px;"
                    class=""
                >
                </iframe>
                <ul class="activities-list">
                    {
                        filteredActivitiesList.map((activity) => (
                            <li class="activity-container">
                                <h3 class="activity-title">{activity.title}</h3>
                                <p class="activity-date">
                                    Datum:
                                    {activity.date.toString()}
                                </p>
                                <p class="activity-location">
                                    Plaats:
                                    {activity.address}
                                </p>
                            </li>
                        ))
                    }
                </ul>
            </div>
            <div class="saint-ve-countdown-container">
                <h2>SAINT-VÉ</h2>
                <SaintVeCountdown client:visible />
            </div>
        </div>
    </main>
    <style>
        main {
            display: grid;
            grid-template-columns: 20% 50% auto;
            gap: 2rem;
            padding-left: calc(var(--standard-padding) * 3);
        }

        .shield-container > * {
            object-fit: contain;
        }

        .main-content-container {
            display: flex;
            flex-direction: column;
            gap: 2rem;
        }

        .main-content-container > :first-child {
            font-weight: 700;
            font-size: 2.75rem;
        }

        .main-content-container > :first-child,
        .main-content-container > p {
            color: var(--text-colour);
        }
    </style>
</Layout>
