---
import Layout from "../layouts/Layout.astro";
import Cookbook from "../svgs/Cookbook.astro";
import Expertise from "../svgs/Expertise.astro";
import Wine from "../svgs/Wine.astro";
import KrambambouliForm from "../components/krambambouli-form/KrambambouliForm";
import Database from "../lib/database";
import type { ProductInterface } from "../lib/interfaces/database/product";
import type { PickupLocationInterface } from "../lib/interfaces/database/pickupLocation";
import type { DeliveryZoneInterface } from "../lib/interfaces/database/deliveryZone";

const title = "Krambambouli";
const formActive = false;
const deliveryActive = true;
let products: undefined | ProductInterface[],
  pickupLocations: undefined | PickupLocationInterface[],
  deliveryLocations: undefined | DeliveryZoneInterface[],
  error: any;

try {
  if (formActive) {
    const database = await Database.getInstance();
    [products, pickupLocations, deliveryLocations] = await Promise.all([
      database?.getKrambambouliProducts(),
      database?.getPickUpLocation(),
      deliveryActive
        ? database?.getDeliveryLocations()
        : Promise.resolve(undefined),
    ]);
    deliveryLocations?.sort((loc1, loc2) =>
      loc1.euros.euros === loc2.euros.euros
        ? loc1.euros.cents - loc2.euros.cents
        : loc1.euros.euros - loc2.euros.euros,
    );
  }
} catch (e) {
  console.error(e);
  error = e;
}
---

<Layout title={title}>
  <main>
    <picture class="brouwers-image-container">
      <img src="/banner.jpg" alt="brouwers aan het werk" class="brouwers" />
    </picture>
    <ul class="intro-text">
      <li class="row-container">
        <Cookbook />
        <p>
          Krambambouli is een drank op basis van wijn, rum, en een heleboel
          geheime ingrediënten.
        </p>
      </li>
      <li class="row-container">
        <Expertise />
        <p>Wordt met liefde en expertise door 't VAT gebrouwen.</p>
      </li>
      <li class="row-container">
        <Wine />
        <p>Bevat meer dan 15% procent alcohol en wordt warm gedronken.</p>
      </li>
    </ul>
    {
      error ? (
        "Something went wrong...."
      ) : products && deliveryLocations && pickupLocations && formActive ? (
        <KrambambouliForm
          client:visible
          products={products}
          deliveryLocations={deliveryLocations}
          pickUpLocations={pickupLocations}
        />
      ) : (
        "De form is niet langer beschikbaar. Indien u een bestelling heeft geplaatst zal er contact opgenomen worden"
      )
    }

    <style>
      main {
        padding: var(--standard-padding) calc(var(--standard-padding) * 3);
        display: flex;
        flex-direction: column;
        gap: 1rem;
      }

      .brouwers-image-container {
        display: flex;
        justify-content: center;
      }

      .brouwers {
        width: 90%;
      }

      .intro-text {
        display: flex;
        flex-direction: column;
        gap: 1rem;
      }

      .row-container {
        display: grid;
        grid-template-columns: 1.5rem auto;
        align-items: center;
        gap: calc(1rem / 2);
      }

      .row-container > p {
        font-size: 1rem;
      }

      @media screea and (max-width: 767px) {
        main {
          padding: 1rem 0.5rem;
        }
      }
    </style>
  </main>
</Layout>
