---
import LayoutAstroComponent from "@/layouts/Layout.astro";
const { url } = Astro;
const token = url.searchParams.get("token");
---

<LayoutAstroComponent title="Reset password">
  <div>hello world</div>
</LayoutAstroComponent>
