---
import Layout from "../../layouts/Layout.astro";
import { readFile } from "fs/promises";
import { BoardYear, type BoardYearInterface } from "../../lib/board/board-year";
import { BoardMember } from "../../lib/board/board-member";
import { boardRoleOrder, stringToBoardRole } from "../../lib/board/board-role";
import BoardMemberComponent from "../../components/board/board-member/BoardMemberComponent.astro";

export const prerender = true;
export async function getStaticPaths() {
  const jsonString = await readFile("./public/boards.json", "utf-8");
  const data: BoardYearInterface[] = JSON.parse(jsonString);
  return data.map((d) => {
    return { params: { term: d.term }, props: new BoardYear(d) };
  });
}
const title = "Bestuur";

const { term } = Astro.params;
const boardMembers = Astro.props.boardMembers.toSorted((a, b) => {
  const r =
    boardRoleOrder.indexOf(a.boardRole) - boardRoleOrder.indexOf(b.boardRole);
  if (r === 0) return a.name.localeCompare(b.name);
  else return r;
});
console.log(boardMembers);
---

<Layout title={title}>
  <div class="board-container">
    {
      boardMembers.map((m) => (
        <BoardMemberComponent boardMember={m} term={term} />
      ))
    }
  </div>
  <style>
    .board-container {
      padding-top: 2rem;
      padding-bottom: 2rem;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      margin: 0 auto;
      row-gap: 2rem;
    }

    @media (min-width: 768px) {
      .board-container {
        column-gap: 5rem;
      }
    }

    @media (min-width: 1024px) {
      .board-container {
        column-gap: 7rem;
      }
    }
  </style>
</Layout>
