.contentContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex: 1;
  margin-bottom: 1rem;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.brouwersImageContainer {
  display: flex;
  justify-content: center;
  width: 100%;
}

.brouwers {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.introText {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0 10%;
}

.rowContainer {
  display: grid;
  grid-template-columns: 1.5rem auto;
  align-items: center;
  gap: calc(1rem / 2);
}

.rowContainer > p {
  font-size: 1rem;
}

@media (min-width: 767px) {
  .contentContainer {
    padding: var(--standard-padding) calc(var(--standard-padding) * 3);
  }
  .brouwers {
    width: 90%;
  }
}
