---
import LayoutAstroComponent from "@/layouts/Layout.astro";
---

<LayoutAstroComponent title="Dashboard">
  <main
    style={{
      display: "flex",
      flex: 1,
      "justify-content": "center",
      "align-items": "center",
    }}
  >
    We werken aan de migratie van de app, deze feature is momenteel
    uitgeschakeld
  </main>
</LayoutAstroComponent>
