<!--?xml version="1.0" encoding="UTF-8" standalone="no"?-->
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64"
    ><title>Recipe, cooking, book, kitchen, menu,</title><g id="Outline"
        ><rect x="53" y="39.032" width="2" height="2.032"></rect><path
            d="M9,29.984V57a5.006,5.006,0,0,0,5,5H53a2,2,0,0,0,2-2V43.064H53V52H17V4H52a1,1,0,0,1,1,1V37.032h2V5a3,3,0,0,0-3-3H14A5.006,5.006,0,0,0,9,7V28h2V7a3,3,0,0,1,3-3h1V52H14a4.948,4.948,0,0,0-3,1.026V29.984ZM14,54H53v2H15v2H53v2H14a3,3,0,0,1,0-6Z"
        ></path><path
            d="M51,20a8.009,8.009,0,0,0-8-8c-.085,0-.171,0-.258.005a7.993,7.993,0,0,0-15.484,0C27.171,12,27.085,12,27,12a7.995,7.995,0,0,0-2,15.737V37a1,1,0,0,0,1,1H44a1,1,0,0,0,1-1V27.737A8.008,8.008,0,0,0,51,20ZM27,36V34H43v2ZM43,26a5.949,5.949,0,0,1-3.39-1.051A1,1,0,0,0,38.477,26.6,7.943,7.943,0,0,0,43,28v4H27V28a7.941,7.941,0,0,0,4.548-1.42,1,1,0,0,0-1.139-1.644,6.016,6.016,0,1,1-2.495-10.858,1,1,0,0,0,1.144-.859,5.992,5.992,0,0,1,11.884,0,1,1,0,0,0,1.144.859A6,6,0,1,1,43,26Z"
        ></path><rect x="27" y="42" width="16" height="2"></rect><rect
            x="23"
            y="46"
            width="24"
            height="2"></rect></g
    ></svg
>
