<!--?xml version="1.0" encoding="UTF-8" standalone="no"?-->
<svg
    id="Layer_1"
    data-name="Layer 1"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 64 64"
    ><title>sauce_1</title><path
        d="M25,61H9a3,3,0,0,1-3-3V18a3,3,0,0,1,3-3H25a3,3,0,0,1,3,3V58A3,3,0,0,1,25,61ZM9,17a1,1,0,0,0-1,1V58a1,1,0,0,0,1,1H25a1,1,0,0,0,1-1V18a1,1,0,0,0-1-1Z"
    ></path><path
        d="M22,17H12a1,1,0,0,1-.79-.38,1,1,0,0,1-.18-.86l3-12A1,1,0,0,1,15,3h4a1,1,0,0,1,1,.76l3,12a1,1,0,0,1-.18.86A1,1,0,0,1,22,17Zm-8.72-2h7.44L18.22,5H15.78Z"
    ></path><path
        d="M54,61H38a3,3,0,0,1-3-3V26a3,3,0,0,1,3-3H54a3,3,0,0,1,3,3V58A3,3,0,0,1,54,61ZM38,25a1,1,0,0,0-1,1V58a1,1,0,0,0,1,1H54a1,1,0,0,0,1-1V26a1,1,0,0,0-1-1Z"
    ></path><path
        d="M51,25H41a1,1,0,0,1-.79-.38,1,1,0,0,1-.18-.86l3-12A1,1,0,0,1,44,11h4a1,1,0,0,1,1,.76l3,12a1,1,0,0,1-.18.86A1,1,0,0,1,51,25Zm-8.72-2h7.44l-2.5-10H44.78Z"
    ></path><path
        d="M13,47H7a1,1,0,0,1-1-1V30a1,1,0,0,1,1-1h6a3,3,0,0,1,3,3V44A3,3,0,0,1,13,47ZM8,45h5a1,1,0,0,0,1-1V32a1,1,0,0,0-1-1H8Z"
    ></path><path
        d="M56,51H50a3,3,0,0,1-3-3V36a3,3,0,0,1,3-3h6a1,1,0,0,1,1,1V50A1,1,0,0,1,56,51ZM50,35a1,1,0,0,0-1,1V48a1,1,0,0,0,1,1h5V35Z"
    ></path></svg
>

