.form-container {
    margin: 2rem 0;
}

.products-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.product {
    display: flex;
    flex-direction: column;
    width: max(17rem, 40%);
}

.product-title {
    display: flex;
}

.product>picture {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
}

picture>img {
    width: 100%;
}

.product-details {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
}

.product-details> :first-child {
    font-weight: 500;
}

.product-button-container {
    display: flex;
    justify-content: center;
    gap: 0.7rem;
    --button-color: hsl(0, 0%, 85%);
}

button,
input {
    font-size: 1rem;
}

.product-button-container>* {
    border: 1px solid var(--button-color);
    border-radius: 5px;
    text-align: center;
}

.product-button-container>input:hover {
    border-color: gray;
}

.product-button-container>button {
    width: 2.5rem;
    height: 2.5rem;
    background: var(--button-color);
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-button-container>button:hover {
    background: lightgray;
}


.product-button-container>input {
    width: clamp(3rem, 20%, 4rem);
}

.product-button-container>input[type="number"]::-webkit-inner-spin-button,
.product-button-container>input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Hide the spinner in Firefox */
.product-button-container>input[type="number"] {
    appearance: textfield;
    -moz-appearance: textfield;
    /* Remove default styling */
}

form {
    display: grid;
    gap: 3rem;
}

.fields-container {
    display: grid;
}

.fields-container>* {
    display: grid;
}

.fields-container> :first-child {
    gap: 3rem;
    grid-template-columns: repeat(2, 1fr);
}

.fields-container> :first-child>* {
    display: grid;
    grid-template-rows: repeat(2, 1fr);

}

/*462*/
