.form-container {
    margin-bottom: 2rem;
}

.products-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem;
}

.product {
    display: flex;
    flex-direction: column;
    width: max(13rem, 40%);
}

.product-title {
    display: flex;
}

.product>picture {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
}

picture>img {
    width: 100%;
}

.product-details {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
}

.product-details> :first-child {
    font-weight: 500;
}

.product-button-container {
    display: flex;
    justify-content: center;
    gap: 0.7rem;
    --button-color: hsl(0, 0%, 85%);
}

button,
select,
input {
    font-size: 1rem;
}

.product-button-container>* {
    border: 1px solid var(--button-color);
    border-radius: 5px;
    text-align: center;
}

.product-button-container>input:hover {
    border-color: gray;
}

.product-button-container>button {
    width: 2.5rem;
    height: 2.5rem;
    background: var(--button-color);
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-button-container>button:hover {
    background: lightgray;
}


.product-button-container>input {
    width: clamp(3rem, 20%, 4rem);
}

.product-button-container>input[type="number"]::-webkit-inner-spin-button,
.product-button-container>input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Hide the spinner in Firefox */
.product-button-container>input[type="number"] {
    appearance: textfield;
    -moz-appearance: textfield;
    /* Remove default styling */
}

form {
    display: grid;
    gap: 3rem;
    margin: 0 10%
}

.fields-container {
    display: grid;
    gap: 1rem;
}

.fields-container>* {
    display: grid;
}

.fields-container> :first-child {
    gap: 2%;
    grid-template-columns: repeat(2, 1fr);
}

.fields-container> :first-child>* {
    display: grid;
    grid-template-rows: repeat(2, 1fr);

}

input[type="radio"] {
    margin-right: 5px;
}

.delivery-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
}

.delivery-row>* {
    display: flex;
}

.address-row {
    gap: 1rem;
}

.address-row>:first-child {
    display: grid;
    grid-template-areas: "address-label address-label housenumber-label bus-label"
        "address-input address-input housenumber-input bus-input";
    gap: 2%;
}

.address-row>:first-child>:first-child {
    grid-area: address-label;
}

.address-row>:first-child>:nth-child(2) {
    grid-area: address-input;
}

.address-row:first-child>:nth-child(3) {
    grid-area: housenumber-label;
}

.address-row>:first-child>:nth-child(4) {
    grid-area: housenumber-input;
}

.address-row>:first-child>:nth-child(5) {
    grid-area: bus-label;
}

.address-row>:first-child>:nth-child(6) {
    grid-area: bus-input;
}

.address-row>:last-child {
    display: grid;
    grid-template-areas: "postcode-label city-label"
        "postcode-input city-input";
    gap: 2%;
}

.address-row>:last-child>:first-child {
    grid-area: postcode-label;
}

.address-row>:last-child>:nth-child(2) {
    grid-area: postcode-input;
}

.submit-button-container {
    margin-left: auto;
}

.submit-button-container>* {
    padding: 0.5rem 1rem;
    background-color: rgb(104, 41, 154);
    color: white;
    font-weight: 500;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}

#post::-webkit-outer-spin-button,
#post::-webkit-inner-spin-button,
#post {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
#post {
    -moz-appearance: textfield;
    appearance: textfield;
}


@media screen and (max-width: 912px) {
    .product {
        display: grid;
    }
}
