* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--text-colour);
}

body {
  display: flex;
  flex-direction: column;
  --standard-padding: 2rem;
  --text-colour: #585858;
  overflow-x: hidden;
}

main {
  padding: var(--standard-padding);
}

@media screen and (max-width: 1000px) {
  body {
    --standard-padding: 1rem;
  }
}

@media screen and (max-width: 767px) {
  body {
    width: 95%;
    --standard-padding: 0.5rem;
  }
}
