* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-rows: repeat(3, auto);
    margin: 2rem;
    overflow: hidden;
}


header {
    display: flex;
}

header> :first-child {
    display: grid;
    grid-template-columns: 2rem auto;
    gap: 1rem;
    align-items: center;
    justify-self: flex-start;
}

header> :first-child>:last-child {
    font-weight: 900;
    letter-spacing: .15rem;
    color: #585858;
    text-decoration: none;
}

header> :last-child {
    margin-left: auto;
}
